* {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Cinzel', serif;
    border: 2px solid green;
  }
  /* body {
      margin: 0;
      padding: 0;
      text-align: center;
      /* font-family: 'Cinzel Decorative', cursive; */
      /* font-family: 'Cinzel', serif;
      background-color: whitesmoke;
  }  */
  
  button {
      background-color: #721817;
      padding: 3%;
      border: 2px solid goldenrod;
      color: white;
      font-family: 'Cinzel', serif;
      width: 30%;
  }
  
  button:hover {
      text-decoration: underline solid goldenrod;
      color: goldenrod;
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Cinzel Decorative', cursive;
      font-weight: 800;
      color: white;
      text-decoration: solid underline white;
  }
  
  p {
      color: white;
      text-align: justify;
  }
  
  h1 {
      font-size: 60px;
      text-decoration: underline darkgreen;
      /* background-image: linear-gradient(to right, rgba(120,0,0,0), rgba(120,0,0,1)); */
      background-color: rgba(120, 0, 0, 0.7)
  }
  
  h2 {
      color: white;
      text-decoration: underline darkgreen;
  }
  
  header {
      background-image: url("../images/homeLP.PNG");
      background-size: cover;
      background-repeat: no-repeat;
      height: 95vh;
      width: 100%;
      background-position: center center;
  }
  #logo {
      width: 60%;
      height: 37%;
      position: center;
      padding-top: 17%;
      /* padding-top: 200px; */
  }
  
  nav {
      position: fixed;
      background-color:#721817;
      border-bottom: solid 3px goldenrod;
      padding: 6px;
      font-weight: 600;
      width: 100vw;
  }
  
  #navigationLink {
      margin-left: 12%;
  }
  
  .topnav {
      border-bottom: 3px solid goldenrod;
    }
  
    a {
        margin: 3px;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 12px 12px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      color: goldenrod;
      text-decoration: underline solid goldenrod;
      border: 2px solid goldenrod;
    }
    
    .topnav a.active {
      /* background-color: goldenrod; */
      /* color: white; */
      border: 2px solid goldenrod;
    }
    
    .topnav .icon {
      display: none;
    }